* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  margin: 0;
}
h1,
h2,
h3 {
  font-family: 'Oswal', sans-serif;
  text-transform: uppercase;
  margin: 0;
  background-color: red;
}
